@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --cor-principal: #1f2223;
    --cor-detalhe: #181A1B;
    --cor-destaque: #0A3871;
    --cor-destaque-texto: #1263C8;
    --cor-texto: #E8E6E3;
    --cor-hover-texto: #E8E6E3;

    --font-texto: "Inter", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

html, body {
    height:100%;
}

body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: var(--cor-principal);
    color: var(--cor-destaque);
}

.cabecalho {
    padding: 2% 0 0 5%;
    display: flex;
}

.decodificador {
    padding: 0 5% 0 0;
    height: 100%;
    margin-top: -3%;
    margin-bottom: -4%;
    display: flex;
    gap: 80px;
}

.decodificador__funcao {
    padding: 6% 0 0 15%;
    height: 75%;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.decodificador__funcao__texto {
    min-height: 40%;
    height: 90%;
    background-color: transparent;
    border: 0;
    resize: none;
    font-family: var(--font-texto);
    font-size: 2rem;
    color: var(--cor-destaque-texto);
}

.decodificador__funcao__texto:focus {
    outline: none;
    border: 2px solid var(--cor-destaque);
    box-shadow: 0 0 10px var(--cor-texto);
}

.decodificador__funcao__texto::placeholder {
    color: var(--cor-destaque-texto);
}

.aviso__mensagem {
    padding: 1% 0 2% 0;
    display: flex;
    align-items: center;
    gap: 1%;
    font-family: var(--font-texto);
    font-size: 1rem;
    color: var(--cor-texto);
}

.aviso__mensagem::before {
    font-family: "bootstrap-icons";
    content: "\F332";
    font-size: 1rem;
    color: var(--cor-texto);
}

.decodificador__funcao__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.funcao__botoes__acao {
    padding: 3%;
    width: 50%;
    background-color: transparent;
    border: 2px solid var(--cor-destaque);
    border-radius: 24px;
    font-family: var(--font-texto);
    font-size: 1.5rem;
    color: var(--cor-texto);
    cursor: pointer;
}

.funcao__botoes__acao:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-hover-texto);
}

.decodificador__retorno {
    width: 50%;
    min-height: 40%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 32px;
    background-color: var(--cor-detalhe);
}

.decodificador__retorno__vazio {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.retorno__vazio__imagem {
    width: 100%;
}

.retorno__vazio__mensagem {
    width: 90%;
    font-family: var(--font-texto);
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--cor-texto);
}

.retorno__vazio__texto {
    font-family: var(--font-texto);
    font-size: 1rem;
    color: var(--cor-texto);
    text-align: center;
}

.decodificador__retorno__sucesso {
    padding: 10%;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.retorno__sucesso__texto {
    width: 100%;
    height: 100%;
    background-color: transparent;
    resize: none;
    border: 0;
    cursor: default;
    font-family: var(--font-texto);
    font-size: 1.5rem;
    color: var(--cor-texto);
    text-align: justify;
    word-wrap: break-word;
}

.retorno__sucesso__texto:focus {
    outline: none;
    border: 0;
}

.botao__copiar, .botao__apertado {
    padding: 6.5%;
    width: 100%;
    border: 2px solid;
    border-radius: 24px;
    font-family: var(--font-texto);
    font-size: 1.5rem;
    color: var(--cor-texto);
    cursor: pointer;
}

.botao__copiar {
    background-color: transparent;
    border-color: var(--cor-destaque);
}

.botao__copiar:hover {
    background-color: var(--cor-destaque);
    color: var(--cor-hover-texto);
}

.botao__apertado {
    background-color: var(--cor-principal);
    border-color: var(--cor-detalhe);
}

.rodape {
    padding: 1% 35% 1% 10%;
    background-color: var(--cor-destaque);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-family: var(--font-texto);
    font-size: 1.5rem;
    color: var(--cor-hover-texto);
}

.rodape__sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.rodape__sociais__link {
    display: flex;
    align-items: center;
    gap: 3%;
    font-family: var(--font-texto);
    font-size: 1.5rem;
    color: var(--cor-hover-texto);
    text-decoration: none;
}

.rodape__sociais__link::before {
    font-family: "bootstrap-icons";
    font-size: 1.5rem;
    color: var(--cor-hover-texto);
}

#rodape__sociais__github::before {
    content: "\F3ED";
}

#rodape__sociais__linkedin::before {
    content: "\F472";
}

@media(prefers-color-scheme: light) {
    :root {
        --cor-principal: #E5E5E5;
        --cor-detalhe: #FFFFFF;
        --cor-destaque: #0A3871;
        --cor-destaque-texto: #0A3871;
        --cor-texto: #000000;
        --cor-hover-texto: #FFFFFF;
    }
}

@media(max-width: 920px) {
    .decodificador {
        padding: 2% 5%;
        height: 100vh;
        margin-bottom: 0;
        gap: 0;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .decodificador__funcao {
        padding: 5%;
        width: 90%;
    }

    .decodificador__retorno {
        padding: 2% 3%;
        min-height: 30%;
        margin-bottom: 5%;
        width: 90%;
        height: auto;
        position: static;
    }

    .decodificador__retorno__vazio {
        padding: 0;
    }

    .retorno__vazio__imagem {
        display: none;
    }

    .decodificador__retorno__sucesso {
        padding: 1% 0;
    }

    .retorno__sucesso__texto {
        width: 100%;
    }

    .botao__copiar, .botao__apertado {
        padding: 2%;
        width: 100%;
    }

    .rodape {
        padding: 3%;
        position: relative;
    }
}

@media(max-width: 500px) {
    .decodificador__funcao__botoes {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .funcao__botoes__acao {
        width: 100%;
    }
}